.Menu {
  color: white;
  background-color: #fcc438;
  border-color: #fcc438;
}
.aboutUs {
  color: white;
}
.service {
  color: white;
}
.track {
  color: white;
  margin-right: 100px;
}
.link {
  font-size: 1.5em;
  color: white;
}
.float-to-right {
  float: right;
}

.logo {
  height: 100px;
}
