.Block {
  color: white;
  background-color: #fcc438;
  display: flex;
  padding: 90px;
}
.IntroBlock {
  color: white;
  background-color: #fcc438;
  display: flex;
  text-align: center;
  position: relative;
  top: 50%;
}

.RequestCard {
  background-color: rgba(255, 255, 255, 0.5);
  width: 450px;
  margin: 90px auto;
  text-align: center;
  padding: 30px;
  height: 350px;
  border-radius: 15px;
  border-color: transparent;
}
.Background {
  background-image: url(../assets/images/SF.jpg);
  background-size: cover;
  min-height: 900px;
  padding: 30px;
  align-items: center;
}
.Button {
  width: 350px;
  height: 35px;
  border-color: #fcc438;
  background-color: #fcc438;
}
