.Block {
  color: white;
  background-color: #fcc438;
  height: 350px;
  padding: 30px;
  display: flex;
}
.RequestCard {
  background-color: rgba(255, 255, 255, 0.5);
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  height: 300px;
  border-radius: 15px;
  border-color: transparent;
  position: center;
}
.Background {
  background-image: url(../assets/images/SF.jpg);
  background-size: cover;
  min-height: 900px;
  padding: 30px;
  align-items: center;
}
.Button {
  width: 300px;
  border-color: #fcc438;
  background-color: #fcc438;
}
