.service {
    background-image: none;
}
.Block {
    color: white;
    background-color: #fcc438;
    height: 350px;
    padding: 30px;
    display: flex;
}
.form {
    background-color: rgba(255, 255, 255, 0.5);
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    height: 300px;
    border-radius: 15px;
}
.form-div {
    background-image: url(../asset/images/SF.jpg);
    background-size: cover;
    padding: 30px;
}
.button {
    width: 360px;
    background-color: #fcc438;
}
.span {
    margin-left: 100px;
    font-size: 1.5em;
    font-weight: bold;
}
.input {
    background-color: #c1e4f7;
}
.picture {
    /* background-image: url(../asset/images/RobotDelivery.jpeg);
    background-size: cover; */
}
.introduction {
    width: 60%;
}
