.TrackCard {
  width: 325px;
  margin: 100px auto;
  margin-left: 100px;
  text-align: center;
  padding: 10px;
  height: auto;
  border-radius: 5px;
  border-color: transparent;
  z-index: 1000;
  float: left;
}
