@import "~antd/dist/antd.css";
@import "styles/Header.css";
@import "./styles/Service.css";
@import "./styles/AddressAutocomplete.css";
@import "./styles/Request.css";
@import "./styles/Track.css";
@import "./styles/BotTracker.css";
@import "./styles/Confirmation.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
